html {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Merriweather', serif; */
    font-size: 10px;
    max-width: 100%;
    font-weight: 500;
}

body {
    margin: 0;
}


.menu {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1%;
    align-items: center;

}

.logo {
    position: relative;
    font-size: 3.6rem;
    margin: 0 14%;
}

#logo {
    text-decoration: none;
    color: #ffff;
}

#menu-list-ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 20%;
    align-items: center;
}

#menu-li{
    font-size: 1.8rem;
    list-style-type: none;
    padding: 0% 12% 0px 12%;
}

#menu-li #menu-link{
    text-decoration: none;
    color: #ffff;
}

#menu-li #menu-link:hover{
    color: #F6AD09;
    cursor: pointer;
}


.menu-ul li a{
    text-decoration: none;
    color: #ffff;
}


.menu-ul li a:hover{
    color: #F6AD09; 
    opacity: .7;
    cursor: pointer;
}

.main-slide,
.main-slide-content {
    background-color: #000000;
    /* margin: 0; */
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
    height: 679px;
    align-items: center;
    /* position: relative; */
    margin: 0% 0 8% 0;

}

.main-left {
    display: inline-block;
    margin: 2% auto;
    /* padding-left: 10%; */
    width: 50%;
    padding: 1% 2% 1% 15%;

    display: flex;
    flex-direction: column;
    justify-content: left;

}

.main-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #FFFFFF;
    /* margin: 0 20%; */
    /* width: 40%; */
    /* padding: 0 0 0 20%; */
    /* margin: 0; */


}

.main-left-desc,
.main-left-desc-uppercase {
    color: #B2B2B2;
    font-family: 'Roboto', sans-serif; 
    font-size: 2.4rem;
    /* width: 45%; */
    /* padding: 0 0 0 20%; */
    /* margin: 0; */

}

.main-left .main-btn-yellow {
    font-size: 1.8rem;
    background-color: #F6AD09;
    padding: 2%;
    border-radius: 5px;
    color: #332200;
    text-decoration: none;
    margin: 5% 0 0 0;
}

.main-btn-yellow:hover {
    transform:scale(1.1);
    transition: all 400ms ease-in-out;
}

.main-right, 
.main-right-content {
    /* position: relative; */
    height: 800px;
    width: 45%;
    padding: 10% 7% 0% 1%;

    /* width: 95%; */
    /* margin: 0; */

}

.main-right img {
    width: 100%;
}

.main-btn {
    display: flex;
    justify-content: left;
    /* padding: 0 0 0 20%;
    margin: 0; */

}

.content-title {
    font-size: 4.4rem;
    padding: 0% 2% 1% 15%;

}

.content-title span{
    color:#F6AD09;
    font-size: 4.4rem;
}

.cards, 
.cards-list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

.cards-title,
.cards-title-list {
    font-size: 3.0rem;
    font-weight: 600;

}

/* .cards-title span {
    color: #F6AD09;
    font-weight: 600;
    font-size: 3rem;
} */

.cards-title::before,
.cards-title-list::before {
    content: "\2043";
    color: #F6AD09;
    font-weight: 600;
    /* font-weight: 600; */
    font-size: 4.3rem;
}

.cards-title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    margin: 0 5%;
    color: #595959;
}

.card-list-ul{
    display: flex;
    flex-direction: row;
    padding: 0 0% 0 0;
}

.cards-title-list {
    color: #ffff;
}

.main-slide-content {
    margin: 8% 0 10% 0;
}

.main-right-content {
    height: 1010px;

}

.main-right-content img {
    width: 100%;
}

.main-left-desc-uppercase {
    text-transform: uppercase;
}

.main-title h2 {
    line-height: 5rem;
}

.main-title span{
    color: #F6AD09;
}


.main-btn-alink {
    display: flex;
    justify-content: left;
    font-size: 1.8rem;
    text-decoration: none;
    margin: 5% 0 0 0;
    border-bottom: 3px solid #F6AD09;
    color: #FFBB00;
}

.main-btn-alink:hover {
    opacity: .6;
}

.clients {
    display: flex;
    justify-content: center;

}

.clients-card {
    margin: 0 auto;
    padding: 0;
}

.client {
    /* padding: 0 5px; */
    margin-bottom: 10px;
    width: 20%;
}

.client-img {

}

/* .client-img::before {
    width: 100%;
    height: 0;
} */

.client img {
    top: 0;
    right: 0;
    max-width: 90%;
    max-height: 90%;
    /* margin: auto;
    width: auto; */
}

.client img:hover {
    transform: scale(1.1);
}

.img-with-text {
    display: flex;
    justify-content: center;
    margin: 3% 0 0% 0;
}

.img-with-text-img {
    width: 45%;
    background-color: #161616;
}

.img-with-text-img img {
    width: 100%;
}

.quote {
    background-color: #FFBB00;
    font-family: 'Merriweather', serif;
    font-size: 3.0rem;
    width: 35%;
    padding:  15% 17% 2% 4%;
    color: #332200;
}


.quote-text::before {
    content: "\201C";
    opacity: .3;
    font-size: 4rem;
}

.quote-text::after {
    content: "\201E";
    opacity: .3;
    font-size: 4rem;
}

.quote-autor {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: #664400;
}

.prices {
    background-color: #161616;
    color: #ffff;
    padding: 3% 0 3% 0%;

}

.prices-two-block {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.prices-block {
    background-color: #000000; 
    /* display: inline-block; */
    /* justify-content: center; */
    /* flex-direction: row; */
    width: 30%;
    margin: 2%;
    padding: 0 0% 2%;
}

.prices-block:hover .prices-title .pr-title{
    color: #F6AD09;
}

.prices-block:hover {
    transform: scale(1.1);
    transition: all 400ms ease-out;

}

.prices-title {
    display: flex;
    align-items: baseline
}

.prices-title .pr-title {
    font-size: 3.6rem;
    color:#9C9C9C;
    padding-right: 34%;
    padding-left: 11%;
}

.prices-title .price {
    font-size: 3.6rem;
    color: #ffff;
}

.prices-title .subtext {
    color: #9C9C9C;
    font-size: 1rem;
    margin-top: -10px;
    margin-left: 65%;

}

.prices-list {
    /* display: flex; */
    
}

.prices-list-ul {
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffff;
    line-height: 24px;
    margin: 4%;
    list-style-type: none;
    margin-left: -2%;
    font-family: 'Roboto', sans-serif;
}

.prices-list-ul li {
    margin: 0 0 5% 0;
}

.prices-list-ul li::before {
    content: "\2043";
    color: #F6AD09;
    font-weight: 600;
    /* font-weight: 600; */
    font-size: 3rem;
    margin: 2%;
}

.button {
    margin: 11% 0% 2%;

}

.button a{
    background-color:#2E2E2E; 
    color: #CCCCCC;
    font-size: 1.6rem;
    font-weight: 600;
    width: 40%;
    text-decoration: none;
    padding: 4%;
    border-radius: 5px;
    margin: 11%;
}

.button a:hover {
    color: #2E2E2E;
    background-color: #CCCCCC;
}

.footer {
    background-color: #000000;
    color: #ffff;
    display: flex;
    justify-content: space-evenly;
    padding: 4% 0;
}

.contacts-title {
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

}

.contacts-list,
.info-list {
    font-size: 1.6rem;
}

.contacts-list-ul,
.info-list-ul {
    list-style-type: none;
    color: #B2B2B2;
    display: inline;
}

.contacts-list-ul :nth-of-type(3) {
    margin: 13% 0 0 0;
}

/* .contacts-list-ul {
    text-decoration: none;
} */
.contacts-list-ul a,
.info-list-ul a{
    color: #B2B2B2;
    text-decoration: none;
}

.contacts-list-ul a:hover,
.info-list-ul a:hover{
    color: #FFBB00;
}

.contacts-list li,
.info-list li{
    padding: 2% 0;
}

.contacts-list img{
    padding: 0 4%;
}

.contacts-list img:hover{
    transform:scale(1.1);
}

.footer-logo {
    position: relative;
    font-size: 3.6rem;
    /* margin: 0 14%; */
}

.coded {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: #9C9C9C;
    background-color: #000000;
    text-align: center;
    padding: 4%;
}

.coded a{
    text-decoration: none;
    color: #ffff;
}

.coded a:hover {
    color: #9C9C9C;
}